
:root {
    --font-base: 'DM Sans', sans-serif;
    --font-heading: 'Bricolage Grotesque', sans-serif;

    /* Font weights for DM Sans */
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Font style */
    --font-weight-semibold-italic: 600; /* Use with font-style: italic */
}

body {
    font-family: var(--font-base);
    font-weight: var(--font-weight-regular);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.accordion-container {
    width: 300px;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.accordion-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.accordion-button:hover {
    background-color: #45a049;
}

.accordion-content {
    padding: 10px 15px;
    background-color: #f9f9f9;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.accordion-content ul {
    padding-left: 18px;
    margin: 0;
}